# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android

.env

# Arquivos de ferramentas
.claude/
.vscode/
AGENTS.md
CLAUDE.md

# Arquivos do template Expo não utilizados
src/components/animated-icon.*
src/components/app-tabs.*
src/components/external-link.tsx
src/components/hint-row.tsx
src/components/themed-text.tsx
src/components/themed-view.tsx
src/components/ui/
src/components/web-badge.tsx

src/constants/theme.ts

src/hooks/use-color-scheme.ts
src/hooks/use-color-scheme.web.ts
src/hooks/use-theme.ts

src/global.css